@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
.button, .small-button, .site-nav a { display: inline-block; font-size: 1.2rem; line-height: 1; font-family: Open Sans; font-weight: 600; color: currentColor; text-transform: uppercase; background-color: transparent; border: 4px solid currentColor; padding: .75rem 1rem; margin: 0; }
@media (max-width: 700px) { .button, .small-button, .site-nav a { font-size: 1rem; } }
@media (max-width: 900px) { .button, .small-button, .site-nav a { font-size: 1.2rem; } }

.small-button { font-size: .8rem; }

.button:hover, .small-button:hover, .site-nav a:hover { text-decoration: none; cursor: pointer; }

.button[disabled], [disabled].small-button, .site-nav a[disabled] { /* Assumes reversed. Ideally it'd be rgba(currentColor, .5) */ border-color: rgba(255, 255, 255, 0.5); }
.button[disabled]:hover, [disabled].small-button:hover, .site-nav a[disabled]:hover { cursor: default; }

.site-nav { background: #AB3030; padding: 1rem; }
.site-nav a { display: block; width: 100%; }
.site-nav a + a { margin-top: .5rem; }
@media (min-width: 900px) { .site-nav { position: fixed; top: 0; left: 0; width: 100%; z-index: 1; text-align: center; padding: 0; background: rgba(231, 65, 65, 0.8); border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .site-nav a { display: inline; border: none; font-size: .75rem; padding-left: .25rem; padding-right: .25rem; color: rgba(255, 255, 255, 0.9); }
  .site-nav a:hover, .site-nav a:active, .site-nav a:focus { color: white; } }
