.speaker, .speaker--more-to-come, .speaker--and-more { margin-bottom: 3rem; }
.speaker .speaker__name, .speaker--more-to-come .speaker__name, .speaker--and-more .speaker__name { margin-bottom: 1rem; }
.speaker .speaker__photo, .speaker--more-to-come .speaker__photo, .speaker--and-more .speaker__photo { margin-top: 1rem; }
.speaker:last-of-type, .speaker--more-to-come:last-of-type, .speaker--and-more:last-of-type { margin-bottom: 0; }

.speaker__name { text-align: center; }

@media (min-width: 800px) { .speaker__bio, .speaker__links { font-size: 0.925rem; } }
@media (min-width: 1200px) { .speaker__bio, .speaker__links { font-size: 0.85rem; } }

.speaker__photo { margin-top: -2rem; text-align: center; position: relative; padding-bottom: 50%; width: 50%; margin-left: 25%; }
.speaker__photo .speaker__photo__image { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; border-radius: 50%; filter: brightness(80%) sepia(90%) hue-rotate(-10deg); opacity: .8; }

.speaker__links { margin-top: 1rem; }
.speaker__links li { margin-top: .25rem; }

.speaker--more-to-come .speaker__photo__image { background-color: #ccc; vertical-align: middle; font-size: 48px; opacity: .3; }
.speaker--more-to-come .speaker__links { text-align: center; }

.speaker--more-to-come__question-mark { position: absolute; top: 50%; margin-top: -.6em; left: 0; width: 100%; }

.speaker--and-more { text-align: center; }
.speaker--and-more .speaker__photo__image { background-color: #ccc; vertical-align: middle; font-size: 48px; opacity: .3; }
.speaker--and-more .speaker__links { text-align: center; }
