%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event
        %span.event-title African
        %span.event-title Ruby Mini-Conference
        %br
        %span.two-oh-one-five
        %span.two 2
        %span.oh 0
        %span.two 2
        %span.oh 1
        %span>
      %h4 THEME: AGILE, OPEN SOURCE AND ENTREPRENEURSHIP
      %p On 12th August 2021 leading Ruby developers will come |
      together to share, inspire and learn. |

      %h2.body-section--event-header__city
        %span Online
      %h3.body-section--event-header__date
        12
        %sup> th
        &nbsp; August 2021

#after-nav

%section#attending.body-section--attending
  %h2 
    Registration 
    %form{:name => "register", :id => "register"}
      %p
        %label{:for => "name"} Enter your name
        %br
        %input{:id => "name", :type => "text", :name => "name", :attribute => "required"}
      %p
        %label{:for => "email"} Enter your email address
        %br
        %input{:id => "email", :type => "email", :name => "email", :attribute => "required"}
      %p
        / Modified from https://gist.github.com/NicholasKimuli/2b167ca1c6ce03cb860e3f89d17db1eb 
        / Bonaire, Saba and Sint Eustatius may need a future flag update
        %label{:for => "countrycode"} Choose your country code
        %br
        %select{:id => "countrycode", :name => "countrycode", :attribute => "required"}
          %option{:data-countrycode => "DZ", :value => "213" } &#x1F1E9&#x1F1FF Algeria (+213)
          %option{:data-countrycode => "AO", :value => "244" } &#x1F1E6&#x1F1F4 Angola (+244)
          %option{:data-countrycode => "BJ", :value => "229" } &#x1F1E7&#x1F1EF Benin (+229)
          %option{:data-countrycode => "BW", :value => "267" } &#x1F1E7&#x1F1FC Botswana (+267)
          %option{:data-countrycode => "BF", :value => "226" } &#x1F1E7&#x1F1EB Burkina Faso (+226)
          %option{:data-countrycode => "BI", :value => "257" } &#x1F1E7&#x1F1EE Burundi (+257)
          %option{:data-countrycode => "CM", :value => "237" } &#x1F1E8&#x1F1F2 Cameroon (+237)
          %option{:data-countrycode => "CF", :value => "236" } &#x1F1E8&#x1F1EB Central African Republic (+236)
          %option{:data-countrycode => "TD", :value => "235" } &#x1F1F9&#x1F1E9 Chad (+235)
          %option{:data-countrycode => "CG", :value => "242" } &#x1F1E8&#x1F1EC Congo (+242)
          %option{:data-countrycode => "CD", :value => "243" } &#x1F1E8&#x1F1E9 Congo, Democratic Republic of the (+243)
          %option{:data-countrycode => "DJ", :value => "253" } &#x1F1E9&#x1F1EF Djibouti (+253)
          %option{:data-countrycode => "EG", :value => "20" } &#x1F1EA&#x1F1EC Egypt (+20)
          %option{:data-countrycode => "GQ", :value => "240" } &#x1F1EC&#x1F1F6 Equatorial Guinea (+240)
          %option{:data-countrycode => "ER", :value => "291" } &#x1F1EA&#x1F1F7 Eritrea (+291)
          %option{:data-countrycode => "SZ", :value => "268" } &#x1F1F8&#x1F1FF Eswatini (+268)
          %option{:data-countrycode => "ET", :value => "251" } &#x1F1EA&#x1F1F9 Ethiopia (+251)
          %option{:data-countrycode => "GA", :value => "241" } &#x1F1EC&#x1F1E6 Gabon (+241)
          %option{:data-countrycode => "GM", :value => "220" } &#x1F1EC&#x1F1F2 Gambia (+220)
          %option{:data-countrycode => "GH", :value => "233" } &#x1F1EC&#x1F1ED Ghana (+233)
          %option{:data-countrycode => "GN", :value => "224" } &#x1F1EC&#x1F1F3 Guinea (+224)
          %option{:data-countrycode => "GW", :value => "245" } &#x1F1EC&#x1F1FC Guinea - Bissau (+245)
          %option{:data-countrycode => "CI", :value => "225" } &#x1F1E8&#x1F1EE Ivory Coast (+225)
          %option{:data-countrycode => "KE", :value => "254" } &#x1F1F0&#x1F1EA Kenya (+254)
          %option{:data-countrycode => "LS", :value => "266" } &#x1F1F1&#x1F1F8 Lesotho (+266)
          %option{:data-countrycode => "LR", :value => "231" } &#x1F1F1&#x1F1F7 Liberia (+231)
          %option{:data-countrycode => "LY", :value => "218" } &#x1F1F1&#x1F1FE Libya (+218)
          %option{:data-countrycode => "MG", :value => "261" } &#x1F1F2&#x1F1EC Madagascar (+261)
          %option{:data-countrycode => "MW", :value => "265" } &#x1F1F2&#x1F1FC Malawi (+265)
          %option{:data-countrycode => "ML", :value => "223" } &#x1F1F2&#x1F1F1 Mali (+223)
          %option{:data-countrycode => "MR", :value => "222" } &#x1F1F2&#x1F1F7 Mauritania (+222)
          %option{:data-countrycode => "MU", :value => "230" } &#x1F1F2&#x1F1FA Mauritius (+230)
          %option{:data-countrycode => "MA", :value => "212" } &#x1F1F2&#x1F1E6 Morocco (+212)
          %option{:data-countrycode => "MZ", :value => "258" } &#x1F1F2&#x1F1FF Mozambique (+258)
          %option{:data-countrycode => "NA", :value => "264" } &#x1F1F3&#x1F1E6 Namibia (+264)
          %option{:data-countrycode => "NE", :value => "227" } &#x1F1F3&#x1F1EA Niger (+227)
          %option{:data-countrycode => "NG", :value => "234" } &#x1F1F3&#x1F1EC Nigeria (+234)
          %option{:data-countrycode => "RE", :value => "262" } &#x1F1F7&#x1F1EA Réunion (+262)
          %option{:data-countrycode => "RW", :value => "250" } &#x1F1F7&#x1F1FC Rwanda (+250)
          %option{:data-countrycode => "ST", :value => "239" } &#x1F1F8&#x1F1F9 São Tomé &amp; Principe (+239)
          %option{:data-countrycode => "SN", :value => "221" } &#x1F1F8&#x1F1F3 Senegal (+221)
          %option{:data-countrycode => "SC", :value => "248" } &#x1F1F8&#x1F1E8 Seychelles (+248)
          %option{:data-countrycode => "SL", :value => "232" } &#x1F1F8&#x1F1F1 Sierra Leone (+232)
          %option{:data-countrycode => "SO", :value => "252" } &#x1F1F8&#x1F1F4 Somalia (+252)
          %option{:data-countrycode => "ZA", :value => "27" } &#x1F1FF&#x1F1E6 South Africa (+27)
          %option{:data-countrycode => "SS", :value => "211" } &#x1F1F8&#x1F1F8 South Sudan (+211)
          %option{:data-countrycode => "SD", :value => "249" } &#x1F1F8&#x1F1E9 Sudan (+249)
          %option{:data-countrycode => "TZ", :value => "255" } &#x1F1F9&#x1F1FF Tanzania (+255)
          %option{:data-countrycode => "TG", :value => "228" } &#x1F1F9&#x1F1EC Togo (+228)
          %option{:data-countrycode => "TN", :value => "216" } &#x1F1F9&#x1F1F3 Tunisia (+216)
          %option{:data-countrycode => "UG", :value => "256" } &#x1F1FA&#x1F1EC Uganda (+256)
          %option{:data-countrycode => "EH", :value => "967" } &#x1F1EA&#x1F1ED Western Sahara (+212)
          %option{:data-countrycode => "ZM", :value => "260" } &#x1F1FF&#x1F1F2 Zambia (+260)
          %option{:data-countrycode => "ZW", :value => "263" } &#x1F1FF&#x1F1FC Zimbabwe (+263)
          %optgroup{:label => "Other countries"}
            %option{:data-countrycode => "AF", :value => "93" } &#x1F1E6&#x1F1EB Afghanistan (+93)
            %option{:data-countrycode => "AL", :value => "355" } &#x1F1E6&#x1F1FD Albania (+355)
            %option{:data-countrycode => "AD", :value => "376" } &#x1F1E6&#x1F1E9 Andorra (+376)
            %option{:data-countrycode => "AI", :value => "1264" } &#x1F1E6&#x1F1EE Anguilla (+1264)
            %option{:data-countrycode => "AG", :value => "1268" } &#x1F1E6&#x1F1EC Antigua &amp; Barbuda (+1268)
            %option{:data-countrycode => "AR", :value => "54" } &#x1F1E6&#x1F1F7 Argentina (+54)
            %option{:data-countrycode => "AM", :value => "374" } &#x1F1E6&#x1F1F2 Armenia (+374)
            %option{:data-countrycode => "AW", :value => "297" } &#x1F1E6&#x1F1FC Aruba (+297)
            %option{:data-countrycode => "AC", :value => "247" } &#x1F1E6&#x1F1E8 Ascension Island (+247)
            %option{:data-countrycode => "AU", :value => "61" } &#x1F1E6&#x1F1FA Australia (+61)
            %option{:data-countrycode => "AT", :value => "43" } &#x1F1E6&#x1F1F9 Austria (+43)
            %option{:data-countrycode => "AZ", :value => "994" } &#x1F1E6&#x1F1FF Azerbaijan (+994)
            %option{:data-countrycode => "BS", :value => "1242" } &#x1F1E7&#x1F1F8 Bahamas (+1242)
            %option{:data-countrycode => "BH", :value => "973" } &#x1F1E7&#x1F1ED Bahrain (+973)
            %option{:data-countrycode => "BD", :value => "880" } &#x1F1E7&#x1F1E9 Bangladesh (+880)
            %option{:data-countrycode => "BB", :value => "1246" } &#x1F1E7&#x1F1E7 Barbados (+1246)
            %option{:data-countrycode => "BY", :value => "375" } &#x1F1E7&#x1F1FE Belarus (+375)
            %option{:data-countrycode => "BE", :value => "32" } &#x1F1E7&#x1F1EA Belgium (+32)
            %option{:data-countrycode => "BZ", :value => "501" } &#x1F1E7&#x1F1FF Belize (+501)
            %option{:data-countrycode => "BM", :value => "1441" } &#x1F1E7&#x1F1F2 Bermuda (+1441)
            %option{:data-countrycode => "BT", :value => "975" } &#x1F1E7&#x1F1F9 Bhutan (+975)
            %option{:data-countrycode => "BO", :value => "591" } &#x1F1E7&#x1F1F4 Bolivia (+591)
            %option{:data-countrycode => "BQ", :value => "599" } &#x1F1E7&#x1F1F6 Bonaire, Saba and Sint Eustatius (+599)
            %option{:data-countrycode => "BA", :value => "387" } &#x1F1E7&#x1F1E6 Bosnia Herzegovina (+387)
            %option{:data-countrycode => "BR", :value => "55" } &#x1F1E7&#x1F1F7 Brazil (+55)
            %option{:data-countrycode => "IO", :value => "246" } &#x1F1EE&#x1F1F4 British Indian Ocean Territory (+246)
            %option{:data-countrycode => "BN", :value => "673" } &#x1F1E7&#x1F1F3 Brunei (+673)
            %option{:data-countrycode => "BG", :value => "359" } &#x1F1E7&#x1F1EC Bulgaria (+359)
            %option{:data-countrycode => "KH", :value => "855" } &#x1F1F0&#x1F1ED Cambodia (+855)
            %option{:data-countrycode => "CA", :value => "1" } &#x1F1E8&#x1F1E6 Canada (+1)
            %option{:data-countrycode => "CV", :value => "238" } &#x1F1E8&#x1F1FB Cape Verde Islands (+238)
            %option{:data-countrycode => "KY", :value => "1345" } &#x1F1F0&#x1F1FE Cayman Islands (+1345)
            %option{:data-countrycode => "CL", :value => "56" } &#x1F1E8&#x1F1F1 Chile (+56)
            %option{:data-countrycode => "CN", :value => "86" } &#x1F1E8&#x1F1F3 China (+86)
            %option{:data-countrycode => "CO", :value => "57" } &#x1F1E8&#x1F1F4 Colombia (+57)
            %option{:data-countrycode => "KM", :value => "269" } &#x1F1F0&#x1F1F2 Comoros (+269)
            %option{:data-countrycode => "CK", :value => "682" } &#x1F1E8&#x1F1F0 Cook Islands (+682)
            %option{:data-countrycode => "CR", :value => "506" } &#x1F1E8&#x1F1F7 Costa Rica (+506)
            %option{:data-countrycode => "HR", :value => "385" } &#x1F1ED&#x1F1F7 Croatia (+385)
            %option{:data-countrycode => "CU", :value => "53" } &#x1F1E8&#x1F1FA Cuba (+53)
            %option{:data-countrycode => "CW", :value => "5999" } &#x1F1E8&#x1F1FC Curaçao (+5999)
            %option{:data-countrycode => "CY", :value => "357" } &#x1F1E8&#x1F1FE Cyprus (+357)
            %option{:data-countrycode => "CZ", :value => "420" } &#x1F1E8&#x1F1FF Czech Republic (+420)
            %option{:data-countrycode => "DK", :value => "45" } &#x1F1E9&#x1F1F0 Denmark (+45)
            %option{:data-countrycode => "DM", :value => "1767" } &#x1F1E9&#x1F1F2 Dominica (+1767)
            %option{:data-countrycode => "DO", :value => "1809" } &#x1F1E9&#x1F1F4 Dominican Republic (+1809)
            %option{:data-countrycode => "TL", :value => "670" } &#x1F1F9&#x1F1F1 East Timor (+670)
            %option{:data-countrycode => "EC", :value => "593" } &#x1F1EA&#x1F1E8 Ecuador (+593)
            %option{:data-countrycode => "SV", :value => "503" } &#x1F1F8&#x1F1FB El Salvador (+503)
            %option{:data-countrycode => "EE", :value => "372" } &#x1F1EA&#x1F1EA Estonia (+372)
            %option{:data-countrycode => "FK", :value => "500" } &#x1F1EB&#x1F1F0 Falkland Islands (+500)
            %option{:data-countrycode => "FO", :value => "298" } &#x1F1EB&#x1F1F4 Faroe Islands (+298)
            %option{:data-countrycode => "FJ", :value => "679" } &#x1F1EB&#x1F1EF Fiji (+679)
            %option{:data-countrycode => "FI", :value => "358" } &#x1F1EB&#x1F1EE Finland (+358)
            %option{:data-countrycode => "FR", :value => "33" } &#x1F1EB&#x1F1F7 France (+33)
            %option{:data-countrycode => "GF", :value => "594" } &#x1F1EC&#x1F1EB French Guiana (+594)
            %option{:data-countrycode => "PF", :value => "689" } &#x1F1F5&#x1F1EB French Polynesia (+689)
            %option{:data-countrycode => "GE", :value => "995" } &#x1F1EC&#x1F1EA Georgia (+995)
            %option{:data-countrycode => "DE", :value => "49" } &#x1F1E9&#x1F1EA Germany (+49)
            %option{:data-countrycode => "GI", :value => "350" } &#x1F1EC&#x1F1EE Gibraltar (+350)
            %option{:data-countrycode => "GR", :value => "30" } &#x1F1EC&#x1F1F7 Greece (+30)
            %option{:data-countrycode => "GL", :value => "299" } &#x1F1EC&#x1F1F1 Greenland (+299)
            %option{:data-countrycode => "GD", :value => "1473" } &#x1F1EC&#x1F1E9 Grenada (+1473)
            %option{:data-countrycode => "GP", :value => "590" } &#x1F1EC&#x1F1F5 Guadeloupe (+590)
            %option{:data-countrycode => "GU", :value => "1671" } &#x1F1EC&#x1F1FA Guam (+1671)
            %option{:data-countrycode => "GT", :value => "502" } &#x1F1EC&#x1F1F9 Guatemala (+502)
            %option{:data-countrycode => "GY", :value => "592" } &#x1F1EC&#x1F1FE Guyana (+592)
            %option{:data-countrycode => "HT", :value => "509" } &#x1F1ED&#x1F1F9 Haiti (+509)
            %option{:data-countrycode => "HN", :value => "504" } &#x1F1ED&#x1F1F3 Honduras (+504)
            %option{:data-countrycode => "HK", :value => "852" } &#x1F1ED&#x1F1F0 Hong Kong (+852)
            %option{:data-countrycode => "HU", :value => "36" } &#x1F1ED&#x1F1FA Hungary (+36)
            %option{:data-countrycode => "IS", :value => "354" } &#x1F1EE&#x1F1F8 Iceland (+354)
            %option{:data-countrycode => "IN", :value => "91" } &#x1F1EE&#x1F1F3 India (+91)
            %option{:data-countrycode => "ID", :value => "62" } &#x1F1EE&#x1F1E9 Indonesia (+62)
            %option{:data-countrycode => "IR", :value => "98" } &#x1F1EE&#x1F1F7 Iran (+98)
            %option{:data-countrycode => "IQ", :value => "964" } &#x1F1EE&#x1F1F6 Iraq (+964)
            %option{:data-countrycode => "IE", :value => "353" } &#x1F1EE&#x1F1EA Ireland (+353)
            %option{:data-countrycode => "IL", :value => "972" } &#x1F1EE&#x1F1F1 Israel (+972)
            %option{:data-countrycode => "IT", :value => "39" } &#x1F1EE&#x1F1F9 Italy (+39)
            %option{:data-countrycode => "JM", :value => "1876" } &#x1F1EF&#x1F1F2 Jamaica (+1876)
            %option{:data-countrycode => "JP", :value => "81" } &#x1F1EF&#x1F1F5 Japan (+81)
            %option{:data-countrycode => "JO", :value => "962" } &#x1F1EF&#x1F1F4 Jordan (+962)
            %option{:data-countrycode => "KZ", :value => "7" } &#x1F1F0&#x1F1FF Kazakhstan (+7)
            %option{:data-countrycode => "KI", :value => "686" } &#x1F1F0&#x1F1EE Kiribati (+686)
            %option{:data-countrycode => "KP", :value => "850" } &#x1F1F0&#x1F1F5 Korea, North (+850)
            %option{:data-countrycode => "KR", :value => "82" } &#x1F1F0&#x1F1F7 Korea, South (+82)
            %option{:data-countrycode => "XK", :value => "383" } &#x1F1FD&#x1F1F0 Kosovo (+383)
            %option{:data-countrycode => "KW", :value => "965" } &#x1F1F0&#x1F1FC Kuwait (+965)
            %option{:data-countrycode => "KG", :value => "996" } &#x1F1F0&#x1F1EC Kyrgyzstan (+996)
            %option{:data-countrycode => "LA", :value => "856" } &#x1F1F1&#x1F1E6 Laos (+856)
            %option{:data-countrycode => "LV", :value => "371" } &#x1F1F1&#x1F1FB Latvia (+371)
            %option{:data-countrycode => "LB", :value => "961" } &#x1F1F1&#x1F1E7 Lebanon (+961)
            %option{:data-countrycode => "LI", :value => "423" } &#x1F1F1&#x1F1EE Liechtenstein (+423)
            %option{:data-countrycode => "LT", :value => "370" } &#x1F1F1&#x1F1F9 Lithuania (+370)
            %option{:data-countrycode => "LU", :value => "352" } &#x1F1F1&#x1F1FA Luxembourg (+352)
            %option{:data-countrycode => "MO", :value => "853" } &#x1F1F2&#x1F1F4 Macao (+853)
            %option{:data-countrycode => "MK", :value => "389" } &#x1F1F2&#x1F1F0 Macedonia (+389)
            %option{:data-countrycode => "MY", :value => "60" } &#x1F1F2&#x1F1FE Malaysia (+60)
            %option{:data-countrycode => "MV", :value => "960" } &#x1F1F2&#x1F1FB Maldives (+960)
            %option{:data-countrycode => "MT", :value => "356" } &#x1F1F2&#x1F1F9 Malta (+356)
            %option{:data-countrycode => "MH", :value => "692" } &#x1F1F2&#x1F1ED Marshall Islands (+692)
            %option{:data-countrycode => "MQ", :value => "596" } &#x1F1F2&#x1F1F6 Martinique (+596)
            %option{:data-countrycode => "YT", :value => "262" } &#x1F1FE&#x1F1F9 Mayotte (+262)
            %option{:data-countrycode => "MX", :value => "52" } &#x1F1F2&#x1F1FD Mexico (+52)
            %option{:data-countrycode => "FM", :value => "691" } &#x1F1EB&#x1F1F2 Micronesia (+691)
            %option{:data-countrycode => "MD", :value => "373" } &#x1F1F2&#x1F1E9 Moldova (+373)
            %option{:data-countrycode => "MC", :value => "377" } &#x1F1F2&#x1F1E8 Monaco (+377)
            %option{:data-countrycode => "MN", :value => "976" } &#x1F1F2&#x1F1F3 Mongolia (+976)
            %option{:data-countrycode => "ME", :value => "382" } &#x1F1F2&#x1F1EA Montenegro (+382)
            %option{:data-countrycode => "MS", :value => "1664" } &#x1F1F2&#x1F1F8 Montserrat (+1664)
            %option{:data-countrycode => "MN", :value => "95" } &#x1F1F2&#x1F1F2 Myanmar (+95)
            %option{:data-countrycode => "NR", :value => "674" } &#x1F1F3&#x1F1F7 Nauru (+674)
            %option{:data-countrycode => "NP", :value => "977" } &#x1F1F3&#x1F1F5 Nepal (+977)
            %option{:data-countrycode => "NL", :value => "31" } &#x1F1F3&#x1F1F1 Netherlands (+31)
            %option{:data-countrycode => "NC", :value => "687" } &#x1F1F3&#x1F1E8 New Caledonia (+687)
            %option{:data-countrycode => "NZ", :value => "64" } &#x1F1F3&#x1F1FF New Zealand (+64)
            %option{:data-countrycode => "NI", :value => "505" } &#x1F1F3&#x1F1EE Nicaragua (+505)
            %option{:data-countrycode => "NU", :value => "683" } &#x1F1F3&#x1F1FA Niue (+683)
            %option{:data-countrycode => "NF", :value => "672" } &#x1F1F3&#x1F1EB Norfolk Islands (+672)
            %option{:data-countrycode => "NP", :value => "1670" } &#x1F1F2&#x1F1F5 Northern Mariana Islands (+1670)
            %option{:data-countrycode => "NO", :value => "47" } &#x1F1F3&#x1F1F4 Norway (+47)
            %option{:data-countrycode => "OM", :value => "968" } &#x1F1F4&#x1F1F2 Oman (+968)
            %option{:data-countrycode => "PK", :value => "92" } &#x1F1F5&#x1F1F0 Pakistan (+92)
            %option{:data-countrycode => "PW", :value => "680" } &#x1F1F5&#x1F1FC Palau (+680)
            %option{:data-countrycode => "PS", :value => "970" } &#x1F1F5&#x1F1F8 Palestine (+970)
            %option{:data-countrycode => "PA", :value => "507" } &#x1F1F5&#x1F1E6 Panama (+507)
            %option{:data-countrycode => "PG", :value => "675" } &#x1F1F5&#x1F1EC Papua New Guinea (+675)
            %option{:data-countrycode => "PY", :value => "595" } &#x1F1F5&#x1F1FE Paraguay (+595)
            %option{:data-countrycode => "PE", :value => "51" } &#x1F1F5&#x1F1EA Peru (+51)
            %option{:data-countrycode => "PH", :value => "63" } &#x1F1F5&#x1F1ED Philippines (+63)
            %option{:data-countrycode => "PL", :value => "48" } &#x1F1F5&#x1F1F1 Poland (+48)
            %option{:data-countrycode => "PT", :value => "351" } &#x1F1F5&#x1F1F9 Portugal (+351)
            %option{:data-countrycode => "PR", :value => "1787" } &#x1F1F5&#x1F1F7 Puerto Rico (+1787)
            %option{:data-countrycode => "QA", :value => "974" } &#x1F1F6&#x1F1E6 Qatar (+974)
            %option{:data-countrycode => "RO", :value => "40" } &#x1F1F7&#x1F1F4 Romania (+40)
            %option{:data-countrycode => "RU", :value => "7" } &#x1F1F7&#x1F1FA Russia (+7)
            %option{:data-countrycode => "WS", :value => "685" } &#x1F1FC&#x1F1F8 Samoa (+685)
            %option{:data-countrycode => "SM", :value => "378" } &#x1F1F8&#x1F1F2 San Marino (+378)
            %option{:data-countrycode => "SA", :value => "966" } &#x1F1F8&#x1F1E6 Saudi Arabia (+966)
            %option{:data-countrycode => "CS", :value => "381" } &#x1F1F7&#x1F1F8 Serbia (+381)
            %option{:data-countrycode => "SG", :value => "65" } &#x1F1F8&#x1F1EC Singapore (+65)
            %option{:data-countrycode => "SK", :value => "421" } &#x1F1F8&#x1F1F0 Slovakia (+421)
            %option{:data-countrycode => "SI", :value => "386" } &#x1F1F8&#x1F1EE Slovenia (+386)
            %option{:data-countrycode => "SB", :value => "677" } &#x1F1F8&#x1F1E7 Solomon Islands (+677)
            %option{:data-countrycode => "ES", :value => "34" } &#x1F1EA&#x1F1F8 Spain (+34)
            %option{:data-countrycode => "LK", :value => "94" } &#x1F1F1&#x1F1F0 Sri Lanka (+94)
            %option{:data-countrycode => "SH", :value => "290" } &#x1F1F8&#x1F1ED St. Helena (+290)
            %option{:data-countrycode => "KN", :value => "1869" } &#x1F1F0&#x1F1F3 St. Kitts and Nevis (+1869)
            %option{:data-countrycode => "SC", :value => "1758" } &#x1F1F1&#x1F1E8 St. Lucia (+1758)
            %option{:data-countrycode => "PM", :value => "508" } &#x1F1F5&#x1F1F2 St. Pierre and Miquelon (+508)
            %option{:data-countrycode => "SR", :value => "597" } &#x1F1F8&#x1F1F7 Suriname (+597)
            %option{:data-countrycode => "SE", :value => "46" } &#x1F1F8&#x1F1EA Sweden (+46)
            %option{:data-countrycode => "CH", :value => "41" } &#x1F1E8&#x1F1ED Switzerland (+41)
            %option{:data-countrycode => "SI", :value => "963" } &#x1F1F8&#x1F1FE Syria (+963)
            %option{:data-countrycode => "TW", :value => "886" } &#x1F1F9&#x1F1FC Taiwan (+886)
            %option{:data-countrycode => "TJ", :value => "992" } &#x1F1F9&#x1F1EF Tajikstan (+992)
            %option{:data-countrycode => "TH", :value => "66" } &#x1F1F9&#x1F1ED Thailand (+66)
            %option{:data-countrycode => "TK", :value => "690" } &#x1F1F9&#x1F1F0 Tokelau (+690)
            %option{:data-countrycode => "TO", :value => "676" } &#x1F1F9&#x1F1F4 Tonga (+676)
            %option{:data-countrycode => "TT", :value => "1868" } &#x1F1F9&#x1F1F9 Trinidad &amp; Tobago (+1868)
            %option{:data-countrycode => "TR", :value => "90" } &#x1F1F9&#x1F1F7 Turkey (+90)
            %option{:data-countrycode => "TM", :value => "993" } &#x1F1F9&#x1F1F2 Turkmenistan (+993)
            %option{:data-countrycode => "TC", :value => "1649" } &#x1F1F9&#x1F1E8 Turks &amp; Caicos Islands (+1649)
            %option{:data-countrycode => "TV", :value => "688" } &#x1F1F9&#x1F1FB Tuvalu (+688)
            %option{:data-countrycode => "UA", :value => "380" } &#x1F1FA&#x1F1E6 Ukraine (+380)
            %option{:data-countrycode => "AE", :value => "971" } &#x1F1E6&#x1F1EA United Arab Emirates (+971)
            %option{:data-countrycode => "GB", :value => "44" } &#x1F1EC&#x1F1E7 United Kingdom (+44)
            %option{:data-countrycode => "US", :value => "1" } &#x1F1FA&#x1F1F8 United States of America (+1)
            %option{:data-countrycode => "UY", :value => "598" } &#x1F1FA&#x1F1FE Uruguay (+598)
            %option{:data-countrycode => "UZ", :value => "998" } &#x1F1FA&#x1F1FF Uzbekistan (+998)
            %option{:data-countrycode => "VU", :value => "678" } &#x1F1FB&#x1F1FA Vanuatu (+678)
            %option{:data-countrycode => "VA", :value => "39" } &#x1F1FB&#x1F1E6 Vatican City (+39)
            %option{:data-countrycode => "VE", :value => "58" } &#x1F1FB&#x1F1EA Venezuela (+58)
            %option{:data-countrycode => "VN", :value => "84" } &#x1F1FB&#x1F1F3 Vietnam (+84)
            %option{:data-countrycode => "VG", :value => "1284" } &#x1F1FB&#x1F1EC Virgin Islands - British (+1284)
            %option{:data-countrycode => "VI", :value => "1340" } &#x1F1FB&#x1F1EE Virgin Islands - US (+1340)
            %option{:data-countrycode => "WF", :value => "681" } &#x1F1FC&#x1F1EB Wallis &amp; Futuna (+681)
            %option{:data-countrycode => "YE", :value => "967" } &#x1F1FE&#x1F1EA Yemen (+967)
      %p
        %label{:for => "telephone"} Enter your telephone number
        %br
        %input{:id => "telephone", :type => "integer", :name => "telephone", :attribute => "required"}
      %p
        %label{:for => "affiliation"} Enter your affilation
        %br
        %input{:id => "affiliation", :type => "text", :name => "affiliation"}
      %p
        %input{:type => "hidden", :name => "_gotcha"}
      %button{:onclick => "sendregistrationdata()"} Submit
  
  %p{:id => "result" }

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p
    African Ruby Mini-Conference 2021 is made possible through the generous support of our sponsors. |
    Please give them your support&nbsp;too.

  %h3 Startup Sponsors
  %h3 Supporters
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--supporters
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://www.cloudafrica.net/")
        %img(src="/images/CloudAfricaLogo.svg" height="100" alt="CloudAfrica")
    %li.sponsors__sponsor.sponsors__sponsor--ihum
      %a(href="https://nairuby.org/")
        %img(src="/images/bantamik.png" height="100" alt="Nairuby")

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    The African Ruby Mini-Conference is run under the auspices of Nairuby. You can view our
    %a(href="http://nairuby.org/about/code-of-conduct/" target="_blank") code of conduct.
    These rules must be followed by all attendees at all conference-related events.
  %img.body-section__header-image{src:'/images/bg.jpg'}

